# Models
# demand_forecaster.joblib is now compressed and pushed normally
# models/*.joblib  <-- Allow other models
# models/*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS files
.DS_Store
Thumbs.db
